@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

.bg-gradient {
  background: linear-gradient(
    90deg,
    rgba(255, 214, 0, 0.2) 0%,
    rgba(255, 46, 0, 0.3) 10%,
    rgba(219, 0, 255, 0.5) 25%,
    rgb(97, 0, 255) 45%,
    rgb(0, 255, 117) 65%,
    rgb(0, 255, 255) 80%,
    rgba(20, 0, 255, 0.3) 100%
  );
}

.gradient-blob {
  position: absolute;
  width: 400px;
  height: 400px;
  bottom: -250px;
  left: 0;
  background: radial-gradient(
    circle at center,
    oklch(60.9% 0.126 221.723),
    rgba(0, 0, 0, 0) 70%
  );
  filter: blur(120px);
  opacity: 0.6;
  pointer-events: none;
}
.gradient-blob2 {
  position: absolute;
  width: 400px;
  height: 400px;
  bottom: -150px;
  left: 50%;
  transform: translateX(-50%);
  background: radial-gradient(
    circle at center,
    oklch(60.9% 0.126 221.723),
    rgba(0, 0, 0, 0) 70%
  );
  filter: blur(120px);
  opacity: 0.6;
  pointer-events: none;
}
.gradient-blob3 {
  position: absolute;
  width: 400px;
  height: 400px;
  bottom: -200px;
  right: 0;
  background: radial-gradient(
    circle at center,
    oklch(48.8% 0.243 264.376),
    rgba(0, 0, 0, 0) 70%
  );
  filter: blur(120px);
  opacity: 0.6;
  pointer-events: none;
}
